.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeaderContainer {
  display: flex;
}

.back {
  background-color: #FDFDFD;
}

.HeadTitle {
  font-family: Farmhouse;
  font-size: 2rem;
  color: #2c2929;
  text-align: center;
  justify-content: center;
}

.signers {
  font-size: 10rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.signers sx {
  font-size: 3rem;
}

.customTitle {
  display: flex;
  height: 10rem;
  margin-bottom: 0;
}

@font-face {
  font-family: Farmhouse;
  src: url(./Farmhouse.otf);
}

.welcomeMessage {
  margin-top: 15rem;
  text-align: left;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: rgb(31, 31, 31);
  padding: 5rem;
}

.welcomeMessage h1 {
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 2rem;
  color: #32353f;
  width: 40rem;
  text-align: justify;
}

.welcomeMessage h2 {
  font-family: Helvetica;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #5e5c5c;
  width: 40rem;
  text-align: left;
}

body {
  display: flex;
}

.welcomeMessage span {
  font-family: Helvetica;
  font-size: 2rem;
  color: #6431e6;
  width: 50rem;
}

.contain {
  background-color: #282c34;
  width: 100%;
}

.mainSplash {
  width: 50rem;
  height: auto;
  flex-direction: column;
}

.main {
  display: flex;
  background-color: #FDFDFD;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.topLateralIcons {
  margin: 0;
  height: 2rem;
  width: 10rem;
}

.topLogo {
  width: 3rem;
}

.mainLogo {
  display: flex;
  width: 30rem; /* Adjust this value according to your preference */
  margin-top: -5rem;
}

.mainContainer {
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: rgb(31, 31, 31);
  width: 99vmax;
  padding: 5rem;
  margin-top: 3rem;
  background-color: #FDFDFD;
}

.leftIcon {
}

/* Mobile devices */
@media only screen and (max-width: 800px) {
  .welcomeMessage h1,.welcomeMessage span {
    font-size: 1.75rem; /* Adjusted font size */
    width: 90%;
    margin-left: auto; /* Center align */
    margin-right: auto;
  }
  .welcomeMessage h2 {
    font-size: 1.25rem; /* Adjusted font size */
    width: 90%; /* Increased width */
  }
  .mainContainer {
margin-top: -10rem;
    align-items: center;
    width: 100%; /* Changed from 99vmax to 100% */
  }
  .HeadTitle {
    font-size: 3rem; /* Adjusted font size */
  }
  .signers {
    width: 30rem; /* Increased width */
    font-size: 2rem; /* Adjusted font size */
    margin-left: auto;
    margin-right: auto;
  }
  .mainLogo {
    width: 90%; /* Increased width */
    margin-bottom: -5rem; /* Adjusted margin */
  }
  .leftIcon {
    width: 80px; /* Fixed width typo */
  }
  .HeaderContainer {
    width: 100%;
  }
  .foot {
    margin-bottom: -5rem; /* Adjusted margin */
  }
}

.foot {
}

/* Large screens */
@media only screen and (min-width: 801px) {
  .mainContainer {
    flex-direction: row;
  }
  .signers {
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
  .welcomeMessage {
    margin-top: -5rem;
  }
}

.imageContainer {
  width: 50rem;
  height: auto;
  flex-direction: row;
}

.Logo {
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
}
